body {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
}

section {
    background-color: white;
}

.hero {
    background-color: #1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 400px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 10px;
}

h2 {
    font-size: 50px;
}

p {
    margin: 10px;
    font-size: 30px;
    font-weight: 300;
}

.hero-area {
    display: flex;
    height: 130%;
    justify-content: space-between;
    align-items: center;
} 

.hero-text {
    margin-left: 130px;
    margin-bottom: 400px;
}

.button {
    width: 240px;
    height: 55px;
    border-radius: 50px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300px;
    padding-top: 8px;
    margin: 8px;
}

.button:hover {
    background-color: #ef744b;
}
.social {
    margin: 100px;
} 

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

.socials {
    padding-bottom: 400px;
}

.logo {
    height: 80px;
    margin: 30px;
}


.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.My-picture-container{
    padding-top: 12px;
    
   
   
}
.My-picture-container img{
    border-radius: 50%;
    height: 300px;
    width:330px;

}
@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}
hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: #ef744b;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}


@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }
    .logo {
        display: none;
    }
}
